body {
	
	background:#e8e8e8 url(bg_body.jpg);
	font-family: "museo-1","museo-2", georgia, serif;
	font-size: 20px;
	color:#6b828a;
}

#header {
	
	
	width:100%;
	height:80px;
	background:url(bg_header.png) top center repeat-x;
	
}



ul#menu {
	float: right;
	
	font-size:15px;
	text-align:right;
}

ul#menu li {
	float: left;
	padding-left: 40px;
	line-height: 1em;
	
}

ul#menu a {
	color: #fff;
}

ul#menu a.selected {
	color:#291313;	
}


ul#menu a:hover {
	color: #291313;
}





#info {
	width: 960px;
	margin: 0 auto -40px;
	padding-top: 60px;
}

#info-right {
	float: right;
	width: 300px;
	height: 845px;
	background: url(me.jpg) no-repeat;
	border-bottom: 1px dashed #291313;
}



#info-left {
	float: left;
	width: 600px;
}

#info-left p {
	line-height:22px;
}



#services .block {
	float: left;
	width: 275px;
}




#info p {
	margin: 30px 0;
	font-size: 20px;
}

#info p span {
	color: #333333;
	font-weight: 900;
	font-style: italic;
}

#info #services p {
	margin: 1em 0;
	font-size: 16px;
	line-height: 18px;
}

#info #services p span {
	color: #aaaaaa;
	font-style: normal;
}

div.img
{
  margin: 2px;
  border: 1px solid #0000ff;
 
  float: left;
  
}	
div.img img
{
  display: inline;
  margin: 3px;
  border: 1px solid #ffffff;
}
div.img a:hover img {border: 1px solid #0000ff;}